<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="trang-chu"  >
      <ion-icon name="flash"></ion-icon>
      <ion-label>Trang Chủ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="danh-muc" href="/menu-tabs/danh-muc/lop/(danh-muc:danh-muc)" >
      <ion-icon name="apps"></ion-icon>
      <ion-label>Danh Mục</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="hoc-tap" href="/menu-tabs/hoc-tap/segment/(hoc-tap:hoc-tap)" >
      <ion-icon name="send"></ion-icon>
      <ion-label>Học Tập</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="khuyen-mai">
      <ion-icon name="send"></ion-icon> 
      <ion-label>Khuyến mãi</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tai-khoan">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tài Khoản</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

<ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="trang-chu"  >
          <ion-icon name="flash"></ion-icon>
          <ion-label>Trang Chủ</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="danh-muc" href="/menu-tabs/danh-muc/lop/(danh-muc:danh-muc)" >
          <ion-icon name="apps"></ion-icon>
          <ion-label>Danh Mục</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="hoc-tap" href="/menu-tabs/hoc-tap/segment/(hoc-tap:hoc-tap)" >
          <ion-icon name="send"></ion-icon>
          <ion-label>Học Tập</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="khuyen-mai">
          <ion-icon name="send"></ion-icon> 
          <ion-label>Khuyến mãi</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tai-khoan">
          <ion-icon name="send"></ion-icon>
          <ion-label>Tài Khoản</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
 
 