<ion-header>
    <ion-title>Segment</ion-title>
</ion-header>

<ion-toolbar>
  <!-- Default Segment -->
  <ion-segment (ionChange)="segmentChanged($event)"
                color="danger" > 
 
    <ion-segment-button value="lopHoc">
      <ion-label>Lớp Học</ion-label>
    </ion-segment-button>
    <ion-segment-button value="thoiKhoaBieu">
      <ion-label>Thời khóa Biểu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="thongBao danhGia">
      <ion-label>Thông Báo Đánh Giá</ion-label>
    </ion-segment-button>
    <ion-segment-button value="diemThi">
      <ion-label>Điểm Thi</ion-label>
    </ion-segment-button>
    <ion-segment-button value="lichSu">
      <ion-label>Lịch Sử</ion-label>
    </ion-segment-button>
    
  </ion-segment>

</ion-toolbar>
 
<ion-content >
  <div [ngSwitch]="valueSegmento">

    <ion-list *ngSwitchCase="'lopHoc'">
        <table mat-table class="mat-elevation-z8" [dataSource]="layDeCuong" matSort>
          <ng-container matColumnDef="buoi">
            <th mat-header-cell *matHeaderCellDef>Buổi</th>
            <td mat-cell *matCellDef="let item">{{item.buoi}}</td>
          </ng-container>
      
          <ng-container matColumnDef="chuDe">
            <th mat-header-cell *matHeaderCellDef >Chủ Đề</th>
                                                  
            <td mat-cell *matCellDef="let item" >{{item.chuDe}}</td>
          </ng-container>
       
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>
    </ion-list>

    <ion-list *ngSwitchCase="'thoiKhoaBieu'">
      <br>
       <!-- Card for adding a new event -->
    <ion-card>
        <ion-card-header tappable (click)="collapseCard = !collapseCard">
          <ion-card-title>New Event</ion-card-title>
        </ion-card-header>
        <ion-card-content *ngIf="!collapseCard">
    
          <ion-item>
            <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Start</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>End</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>All Day?</ion-label>
            <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
          </ion-item>
          <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Add Event</ion-button>
    
        </ion-card-content>
      </ion-card>
      <calendar 
        [eventSource]="eventSource" 
        [calendarMode]="calendar.mode" 
        [currentDate]="calendar.currentDate"
        (onEventSelected)="onTimeSelected($event)"
        (onTitleChanged)="onViewTitleChange($event)"
        (onTimeSelected)="onTimeSelected($event)" 
        startHour="6"
        endHour="20"
        step="30"
        startingDayWeek="1">
      </calendar>
    </ion-list>

    <ion-list *ngSwitchCase="'thongBao danhGia'">
      <ion-item>
        <h4>thông báo</h4>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'diemThi'">
      <ion-item>
        <h4>điểm thi</h4>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'lichSu'">
      <ion-item>
        <h4>lịch sử</h4>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

